apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vaulty-python
  name: vaulty-python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaulty-python
  strategy: {}
  template:
    metadata:
      annotations:
          annotations:
            vault.hashicorp.com/agent-inject: 'true'
            vault.hashicorp.com/role: 'vaulty-python'
            vault.hashicorp.com/agent-inject-secret-config: 'secret/data/vaulty-python'
            vault.hashicorp.com/agent-inject-template-config: |
              {{ with secret "secret/data/vaulty-python" -}}
                export project_one={{ .Data.data.secret_project_one }}
                export project_two={{ .Data.data.secret_project_two }}
              {{- end }}
      labels:
        app: vaulty-python
    spec:
      serviceAccountName: vaulty-python
      containers:
      - image: vaulty-python
        name: vaulty-python
        resources: {}
